@use "@angular/material" as mat;

@include mat.core();

$primary: (
  50: theme("colors.primary.50"),
  100: theme("colors.primary.100"),
  200: theme("colors.primary.200"),
  300: theme("colors.primary.300"),
  400: theme("colors.primary.400"),
  500: theme("colors.primary.500"),
  600: theme("colors.primary.600"),
  700: theme("colors.primary.700"),
  800: theme("colors.primary.800"),
  900: theme("colors.primary.900"),
  contrast: (50: theme("colors.black"),
    100: theme("colors.black"),
    200: theme("colors.black"),
    300: theme("colors.black"),
    400: theme("colors.white"),
    500: theme("colors.white"),
    600: theme("colors.white"),
    700: theme("colors.white"),
    800: theme("colors.white"),
    900: theme("colors.white"),
  ),
);

$secondary: (
  50: theme("colors.secondary.50"),
  100: theme("colors.secondary.100"),
  200: theme("colors.secondary.200"),
  300: theme("colors.secondary.300"),
  400: theme("colors.secondary.400"),
  500: theme("colors.secondary.500"),
  600: theme("colors.secondary.600"),
  700: theme("colors.secondary.700"),
  800: theme("colors.secondary.800"),
  900: theme("colors.secondary.900"),
  contrast: (50: theme("colors.black"),
    100: theme("colors.black"),
    200: theme("colors.black"),
    300: theme("colors.black"),
    400: theme("colors.white"),
    500: theme("colors.white"),
    600: theme("colors.white"),
    700: theme("colors.white"),
    800: theme("colors.white"),
    900: theme("colors.white"),
  ),
);

$red: (
  50: theme("colors.red.50"),
  100: theme("colors.red.100"),
  200: theme("colors.red.200"),
  300: theme("colors.red.300"),
  400: theme("colors.red.400"),
  500: theme("colors.red.500"),
  600: theme("colors.red.600"),
  700: theme("colors.red.700"),
  800: theme("colors.red.800"),
  900: theme("colors.red.900"),
  contrast: (50: theme("colors.black"),
    100: theme("colors.black"),
    200: theme("colors.black"),
    300: theme("colors.black"),
    400: theme("colors.white"),
    500: theme("colors.white"),
    600: theme("colors.white"),
    700: theme("colors.white"),
    800: theme("colors.white"),
    900: theme("colors.white"),
  ),
);

$primary: mat.define-palette($primary);
$accent: mat.define-palette($secondary, 500, 200, 700);
$warn: mat.define-palette($red);

$light-theme: mat.define-light-theme((color: (primary: $primary,
        accent: $accent,
        warn: $warn,
      ),
    ));

@include mat.all-component-themes($light-theme);

@tailwind base;
@tailwind components;
@tailwind utilities;
